@tailwind base;
@tailwind components;
@tailwind utilities;


.customMarkerClass {
    height: 40px;
    width: 40px;
    background-image: url('/your-marker-image.png'); /* <-- Replace with your image */
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    pointer-events: none; /* Prevents marker from blocking map events */
    z-index: 10;
  }
  
  /* globals.css */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #F7931E;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e57f0b;
}

html {
  scroll-behavior: smooth;
}